extends layout

block content
  h1= title
  p Welcome to #[em BudgetTracker].

  h1 Dynamic content

  p The tracker has the following record counts:

  ul
    li #[strong Budgets:] !{budget_count}
    li #[strong Cards:] !{card_count}
    li #[strong Categories:] !{category_count}
    li #[strong Ledgers:] !{ledger_count}
    li #[strong Transactions:] !{transaction_count}
    li #[strong User:] !{user_count}
